In [41]:
import pandas as pd

In [42]:
df = pd.read_csv('aqsoldb_inchikeys_cids.txt', sep='\t')

In [43]:
df

                          InChIKey   Unnamed: 1
0      SZEMGTQCPRNXEG-UHFFFAOYSA-M      70708.0
1      GPYLCFQEKPUWLD-UHFFFAOYSA-N      67222.0
2      AVPYQKSLYISFPO-UHFFFAOYSA-N       7726.0
3      XTUPUYCJWKHGSW-UHFFFAOYSA-L  101981569.0
4      XTUPUYCJWKHGSW-UHFFFAOYSA-L   54682895.0
...                            ...          ...
10814  GKCBAIGFKIBETG-UHFFFAOYSA-N       5411.0
10815  OFVLGDICTFRJMM-WESIUVDSSA-N          NaN
10816  MGSRCZKZVOBKFT-UHFFFAOYSA-N       6989.0
10817  SGTNSNPWRIOYBX-UHFFFAOYSA-N       2520.0
10818  PJVWKTKQMONHTI-UHFFFAOYSA-N   54678486.0

[10819 rows x 2 columns]

In [44]:
df = df[df['Unnamed: 1'].notnull()]

In [45]:
df = df.drop(df.columns[0], axis=1)

In [54]:
df.astype('int64')

       Unnamed: 1
0           70708
1           67222
2            7726
3       101981569
4        54682895
...           ...
10813     1548885
10814        5411
10816        6989
10817        2520
10818    54678486

[10345 rows x 1 columns]

In [55]:
df.to_csv('aqsoldb_cids.csv', index=False, header=False)

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10345 entries, 0 to 10818
Data columns (total 1 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 1  10345 non-null  float64
dtypes: float64(1)
memory usage: 161.6 KB